/* div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div > div {
    font-family: Syne;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }
   */

  .App {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
  }
  .home-container {
    padding:0rem 0.5rem;
  }
  input[type="text"] {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f2f2f2;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
 .container {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    min-height: 100%;
    padding: 1rem 0rem;
}

 /* .main{

  overflow: auto;
  padding-bottom:100px;
 } */

 

 .highlights {
    font-family: Syne;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    /* letter-spacing: 0rem; */
    text-align: left;
  }

  .search-form {
    /* padding-bottom: 1rem; */
  }
  
  .cityCards {
    /* padding: 0rem 0.5rem; */
  }
  @media (max-width: 768px) {

    .container {

      display:flex;
      flex-direction: column;
      align-items:flex-start;
      /* padding:2rem; */

    }

    .aboutContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .aboutDescription {
      text-align: center;
    }
    .highlights {
      padding-bottom: 1rem;
    }
  

  }