.image-container {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .intro-details {
    width: 50%;
    padding: 10rem 0rem;
    box-sizing: border-box;
  }

.digital-diary {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: left;
  }
  
  .our-adventure {
    font-family: 'Syne', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .names {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-align: left;
  }
  

   .img-intro {
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 10%;
  }
  .highlights-navbar {
    /* backdrop-filter: contrast(180%); */
  }


  @media (max-width: 768px) {
    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100vh;
    }
  
    .intro-details {
      display: flex;
      flex-direction: column;

      width: 100%;
      padding: 0rem 0rem;

    }
    .digital-diary{
      font-size: 1rem;
    }

    .our-adventure {
      font-size: 2rem;
      text-align: center;
    }

    .img-intro{
      /* width: 30%;
      height:30%; */
      height: 30%;
      width: 70%;
      object-fit: cover;
      border-radius: 5%;
    }
    
    .digital-diary, .names{
      text-align: center;
    }


  
  }