.lets-connect {
    background-color: #f2f2f2;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height:300px;
    margin: 0px;
  }
  
  .title {
    font-size:40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content:space-evenly;
    /* align-items: space-evenly; */
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    /* border-radius: 20px; */
    width: 400px;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #6b6e6b;
    color: white;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 20px;
  }