.Footer {
    margin-top:auto;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    margin-top:auto;
    background-color: #333;
    color:white;
}
.end-footer {
    display:flex;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
}